.container-detail {
  position: relative;
  z-index: 1;
  background-image: url('@/assets/img/bg-detail.png');
  background-size: cover;
  height: 100%;

  @mixin key_frame($name: slide-down, $duration: 1s, $timing: ease-out) {
    @keyframes slide-down {
      0% {
        opacity: 0;
        transform: translateY(10rem);
      }
      80% {
        transform: translateY(1rem);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
    @keyframes moveInLeft {
      0% {
        opacity: 0;
        transform: translateX(-10rem); }
      80% {
        transform: translateX(1rem); }
      100% {
        opacity: 1;
        transform: translate(0); } 
    }
    @keyframes moveInRight {
      0% {
        opacity: 0;
        transform: translateX(5rem); }
      80% {
        transform: translateX(-1rem); }
      100% {
        opacity: 1;
        transform: translate(0); } 
    }
    animation-name: $name;
    animation-duration: $duration;
    animation-timing-function: $timing;
  }

  .toolbar {
    width: 60%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
  }
  .description {
    height: 50%;
    margin-top: 5rem;
  }
  .card-detail {
    background-color: transparent;
    border-radius: 10px;
  }
  .carousel {
    border: 1px solid var(--loading-bgcolor);
  }
  .card-decs-detail {
    position: absolute;
    margin-left: -160px;
    margin-top: 80px;
  }
  .text-field {
    width: 200px;
  }
  .btn-shadown {
    color: #fff;
    font-weight: 600;
  }
  .btn-shadown:hover {
    box-shadow: #ec488c 0px 0px 0px 6px;
  }
  .group-image {
    position: relative;
    top: 40%;
    z-index: 1;
  }
  .composition__photo:hover {
    border-radius: 2px;
    outline-offset: 0.5rem;
    outline: 1rem solid var(--color-boni-like);
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  }
  .detail-second {
    margin-top: 3rem;
  }
  .rooms-detail {
    margin-top: 8rem;
    background-color: transparent;
  }
  .card-desc-text {
    height: 80%;
  }
  .card-expansion {
    top: 0;
    left: 0;
    z-index: 2;
  }
  .custom-c-iamge {
    filter: drop-shadow(18px 10px 6px var(--color-boni-like));
  }

  @media screen and (max-width: 1190px) {
    .rooms-detail {
      margin-top: 10rem;
    }
    .card-decs-detail {
      margin-left: -80px;
    }
    .intro-hotel{
      height: 300px;
      overflow-y: scroll;
    }
  }
  
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    .custom-image {
      clip-path: polygon(0 20%, 100% 0,100% 80%, 0 100%);
      height: 500px;
    }
  }
}


