:root {
  --el-color-primary: #72064D;
  --el-color-primary-light-3: #ff79ac;
  --el-color-primary-light-5: #ffa0ea;
  --el-color-primary-light-7: #ffc6e3;
  --el-color-primary-light-8: #ffd9e4;
  --el-color-primary-light-9: #ffecf7;
  --el-color-primary-dark-2: #cc3370;
}