.tours-page {
  background-image: url('@/assets/img/map-bg.png');
  background-size: contain;
  background-position: center center;
  .container_tours {
    background-image: linear-gradient(to bottom, rgba(248, 230, 248, 0.2),rgba(235, 178, 244, 0.2)),
    url('@/assets/img/panel-hotel.jpg');
    background-size: cover;
    height: 500px;
  }
  .custom-image-tour {
    position: relative;
    margin-top: 20px;
    -webkit-mask-image: url("@/assets/img/image-card.png");
    mask-image: url("@/assets/img/image-card.png");
    -webkit-mask-size: cover;
    mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
  }
  .card-actions {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 25px;
    margin-bottom: 25px;
  }
  .tour-card {
    width: 88%;
    cursor: pointer;
    transition: all 0.6s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  }
  .tour-card:hover {
    transform: translateY(-1.2rem) scale(1.03);
  }
  .card-title {
    background-color: transparent;
  }
  .title-card-show {
    font-weight: 600;
  }
  @media screen and (max-width: 1100px) {
    .card-search {
      margin: 0 auto;
      width: 500px
    }
    .card-show {
      flex: 0 0 100% !important;
      max-width: 100% !important;
    }
  }
}