:root{
  --auth-container-color: rgba(163, 159, 163, 0.8);
  --txt-shadow-color: #72064D;
  --btn-animation-color: #72064D;
  --animation-card-color: #72064D;
  --btn-animation-bgcolor: #8e1181;
  --btn-shawdow-color: rgba(0, 0, 0, 0.2);
  --loading-bgcolor: rgb(33, 33, 33);
  --loading-border-color: rgb(33, 33, 33);
  --color-boni-like: rgb(255, 189, 234);
  --color-bg-card-second: rgba(59, 54, 57, 0.5);
  --color-border-black: rgba(57, 54, 54, 0.5);
  --color-coupon: rgb(249, 192, 225);
  --color-border-white: #fff;
}
@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,400;0,600;0,700;1,600&display=swap');

.width-50 {
  width: 50% !important;
}
.width-80 {
  width: 80% !important;
}
.font-weight-600 {
  font-weight: 600 !important;
}
.text-align-center {
  text-align: center !important;
}
.height-40px {
  height: 40px;
}
.font-size-min-rem {
  font-size: .8rem
}
.height-400px {
  height: 400px;
}
.max-height-150 {
  max-height: 150px;
}
.border-left-black {
  border-left: 1px solid #000
}

.text-custom-shadow {
  letter-spacing: 5px;
  text-shadow: 0 2px 1px #747474, 
    -1px 3px 1px #767676, 
    -2px 5px 1px #787878, 
    -3px 7px 1px #7a7a7a,
    -4px 9px 1px #7f7f7f,
    -5px 11px 1px #d2d2d2,
    -6px 13px 1px #d5d5d5,
    -7px 15px 1px #e2e2e2, 
    -8px 17px 1px #e6e6e6,
    -9px 19px 1px #eaeaea,
    -10px 21px 1px #efefef;
}
.text-color-black {
  color: #747474;
}
.font-bungee {
  font-family: 'Bungee Shade', cursive;
}
.font-palanquin {
  font-family: 'Palanquin Dark', cursive;
}
.font-serif {
  font-family: 'Source Serif Pro', serif;
}
.font-rowdies {
  font-family: 'Rowdies', cursive;
}
.font-size-20 {
  font-size: 20px !important;
}
.font-size-15 {
  font-size: 15px !important;
}
.shadow-text {
  text-shadow: -3px 2px 0px #363333;
}
.text-color-priamry {
  color: var(--txt-shadow-color);
}
.remove-text {
  text-decoration: line-through var(--txt-shadow-color);
}
