.container {
  background-image: url('@/assets/img/view-gif2.gif');
  background-size: cover;
}
.container::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: var(--auth-container-color);
}
.feature-box {
  transition: transform .3s; 
}

.box-sign-up {
  transition: transform .3s; 
}
@media only screen and (max-width: 52.25em) {
  .feature-box {
    padding: 1rem; 
  } 
}
.feature-box:hover {
  transform: translateY(-1.3rem) scale(1.02);
}
.box-sign-up:hover {
  transform: scale(1.02);
}
.double-line::before,
.double-line::after {
  content: "";
  display: inline-block;
  border-top: 1px solid;
  width: 50px;
  margin: 3px 10px;
}
.btn-g:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transform: scale(1.2);
}
.text-field{
  margin: 15px;
}
.v-text-field--outlined fieldset {
  border-radius: 15px !important;
}
.text-field .v-field:hover{
  border-radius: 8px;
  box-shadow: var(--txt-shadow-color) -8px 2px 0px 0px ;
  border-collapse: collapse;
  opacity: 1;
}