<div
  class="ChildRoomsList-room-featurebucket ChildRoomsList-room-featurebucket-Benefits"
>
  <span class="ChildRoomsList-room-bucketspan">Your price includes:</span>
  <div>
    <div
      class="ChildRoomsList-roomFeature ChildRoomsList-roomFeature--green"
      data-element-name="free-breakfast"
      data-room-feature-type="0"
      data-selenium="ChildRoomList-roomFeature"
    >
      <div data-element="room-feature">
        <i
          class="RoomFeature__Icon ficon ficon-14 ficon-noti-check-mark-sharp"
        ></i>
        <span class="RoomFeature__Title RoomFeature__Title--plain">
          <span class="ChildRoomsList-roomFeature-TitleWrapper">
            <span
              class="Spanstyled__SpanStyled-sc-16tp9kb-0 AeAps kite-js-Span"
              data-element="room-feature-text"
              >Free breakfast for 2</span
            >
          </span>
        </span>
      </div>
    </div>
  </div>
  <div>
    <div
  
      class="ChildRoomsList-roomFeature ChildRoomsList-roomFeature--green"
      data-room-feature-type="0"
      data-selenium="ChildRoomList-roomFeature"
    >
      <div data-element="room-feature">
        <i
          class="RoomFeature__Icon ficon ficon-14 ficon-noti-check-mark-sharp"
        ></i>
        <span class="RoomFeature__Title RoomFeature__Title--plain">
          <span class="ChildRoomsList-roomFeature-TitleWrapper">
            <span
              class="Spanstyled__SpanStyled-sc-16tp9kb-0 AeAps kite-js-Span"
              data-element="room-feature-text"
              >Local breakfast, Vegetarian Breakfast, Parking, Car rental,
              Motorcycle rental, Bike rental, Hand sanitizer, Room sanitizing,
              Free Premium Wifi, Indoor gym access, Free pool access, Free
              fitness center access, Cable TV channels, Smart TV (with apps),
              Dumbbells, Treadmill</span
            >
          </span>
        </span>
      </div>
    </div>
  </div>
  <div>
    <div
      class="ChildRoomsList-roomFeature ChildRoomsList-roomFeature--green"
      data-room-feature-type="3"
      data-selenium="ChildRoomList-roomFeature"
    >
      <div data-element="room-feature">
        <i
          class="RoomFeature__Icon ficon ficon-14 ficon-noti-check-mark-sharp"
        ></i>
        <span class="RoomFeature__Title RoomFeature__Title--plain">
          <span class="ChildRoomsList-roomFeature-TitleWrapper">
            <span
              class="Spanstyled__SpanStyled-sc-16tp9kb-0 AeAps kite-js-Span"
              data-element="room-feature-text"
              >Pay at the hotel</span
            >
          </span>
        </span>
      </div>
    </div>
  </div>
</div>
font-family: 'Bungee Shade'