<section class="htdt-description clearfix bg-white br-8 pad-tb-15 mrg-b-15">
  <article class="col-xs-12 col-sm-12 col-md-12 col-xl-12">
    <h2 class="hotelDetailTitle">
      Thông tin Meliã Vinpearl Đà Nẵng Riverfront
    </h2>
  </article>

  <div class="pad-lr-15 txt-justify">
    <p>
      <strong>Meliã Vinpearl Đà Nẵng Riverfront&nbsp;</strong>được phát triển
      theo tiêu chuẩn 5* Vinpearl đẳng cấp của tập đoàn Vingroup với hệ thống
      tiện ích và hạ tầng vượt trội. Tọa lạc tại Đà Nẵng, thành phố biển xinh
      đẹp và đáng sống nhất cả nước, được trang bị những tiện nghi dịch vụ hàng
      đầu<strong>&nbsp;Meliã Vinpearl Đà Nẵng Riverfront </strong>hứa hẹn là địa
      điểm nghỉ dưỡng lý tưởng.
    </p>
    <p>
      Với thiết kế lên đến 39 tầng, mọi căn phòng tại đây đều có tầm nhìn bao
      quát thành phố, tích hợp cùng các hệ thống tiện ích như Vincom,
      Vinmart...quý khách hàng có thể tận hưởng một kì nghỉ toàn diện tại thành
      phố đáng sống tại Việt Nam.
    </p>
    <p><strong>Tổng số phòng:</strong> 837 phòng</p>
  </div>
</section>
<div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 combo__main">
  <h2 class="combo__heading combo__heading--price-below v-margin-bottom-15">
    Combo 3N2Đ + Vé máy bay khứ hồi + Bữa sáng buffet + Tặng vé VinWonders (*)
  </h2>

  <div class="col-xs-12 no-padding">
    <div class="col-xs-12 no-padding">
      <!--Mô tả Combo-->

      <div class="col-xs-12 no-padding v-margin-bottom-10">
        <h4 class="v-margin-bottom-5"><b>Combo bao gồm</b></h4>
        - Tận hưởng kỳ nghỉ "tất cả trong một” với vị trí ngay trung tâm, cạnh
        sông Hàn, phong cách căn hộ khách sạn tiện nghi hiện đại<br />- Vé máy
        bay khứ hồi Đà Nẵng gồm 7kg hành lý xách tay<br />- 02 đêm nghỉ ở phòng
        Deluxe Room rộng rãi hướng thành phố<br />- Buffet sáng đặc sắc tiêu
        chuẩn quốc tế tại nhà hàng Sông Hàn<br />- Tặng 02 vé vui chơi tại công
        viên giải trí VinWonders Nam Hội An cho 2 khách chính/phòng ngủ/combo
        lưu trú từ nay - 24/05 (*)<br />- Xe đưa đón VinWonders Nam Hội An theo
        lịch trình<br />- Thư giãn bên hồ bơi ngoài trời ấn tượng rộng 420m2
        nhìn ra khung cảnh sông Hàn lộng lẫy<br />- Sử dụng các tiện ích như
        phòng gym hiện đại, khu vui chơi trẻ em và đặc biệt mua sắm tiện lợi tại
        Vincom Plaza ngay dưới tòa nhà
      </div>
      <div class="col-xs-12 no-padding">
        <h4 class="v-margin-bottom-5">Điều kiện áp dụng</h4>
        <p>- Đặt tối thiểu 2 khách/phòng</p>
        <p>-&nbsp;Dành&nbsp;cho khách Việt Nam &amp; Expat</p>
        <p>- Giai đoạn lưu trú: từ nay - 15/07/2023</p>
        <p>
          - Giai đoạn cuối tuần và Lễ hội pháo hoa&nbsp;02/06, 10/06, 17/06,
          24/06 &amp; 08/07 có phụ thu thêm
        </p>
      </div>
    </div>
  </div>
</div>
